@model IEnumerable<PasswordStorage.Models.Container>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Добавить хранилище</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                <a asp-action="ItemsList" asp-route-id="@item.Id">Просмотреть</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#containerModal">
                    Удалить
                </button>
                <!-- Modal -->
                <div class="modal fade" id="containerModal" tabindex="-1" aria-labelledby="containerModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="containerModalLabel">Удаление контейнера</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                            </div>
                            <div class="modal-body">
                                Вы действительно хотите сделать это? 
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>