@model IEnumerable<PasswordStorage.Models.ContainerItem>

@{
    ViewData["Title"] = "CreateItem";
}

<h1 class="text-center">Список ячеек</h1>

<div class="d-inline-flex">
    <a asp-action="CreateItem" asp-route-id="@ViewBag.ContainerId" class="btn btn-primary">Добавить</a>
    <a asp-action="Index" class="btn btn-secondary mx-2">Назад</a>
</div>
<div class="container">
    <div class="row col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginName)
                    </th>
                    <th></th>
                </tr>
            </thead>
             <tbody>
        @foreach (var item in Model)
        {    <tr>
                <td class="limit-text col-lg-4">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="limit-text col-lg-4">
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td class="col-lg-4">
                    <a asp-action="DetailsItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" class="btn btn-primary">Просмотреть</a>
                    <a asp-action="EditItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" class="btn btn-primary">Редактировать</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#containerItemModal">
                        Удалить
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="containerItemModal" tabindex="-1" aria-labelledby="containerItemModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5 text-black" id="containerItemModalLabel">Удаление ячейки</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                                </div>
                                <div class="modal-body text-black">
                                    Вы действительно хотите сделать это?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" method="post">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
            </tbody>

        </table>
    </div>
</div>

