@model IEnumerable<PasswordStorage.Models.ContainerItem>

@{
    ViewData["Title"] = "CreateItem";
}

<h1 class="text-center p-3 shadow bg-body-tertiary rounded">Список ячеек</h1>

<div class="container">
    <div class="row">
        <div class="shadow p-2 bg-body-tertiary rounded">
            <div class="d-inline-flex">
                <a asp-action="CreateItem" asp-route-id="@ViewBag.ContainerId" class="btn btn-outline-success"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Добавить">
                    <i class="bi bi-plus-square"></i>
                </a>
                <form class="d-inline-flex" asp-action="ItemsList" asp-route-id="@ViewBag.ContainerId" method="get">
                    <input class="form-control mx-2" type="text" name="searchItem" placeholder="Введите название" value="@ViewBag.SearchItem" />
                    <button type="submit" class="btn btn-outline-info"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Найти">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <a asp-action="Index" class="btn btn-outline-light mx-2"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Назад">
                    <i class="bi bi-arrow-left-square"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container shadow bg-body-tertiary rounded">
    <div class="row col-lg-12">
        <table class="table border-secondary text-center align-middle">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginName)
                    </th>
                    <th></th>
                </tr>
            </thead>
             <tbody>
        @foreach (var item in Model)
        {    <tr>
                <td class="limit-text col-lg-4">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="limit-text col-lg-4">
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td class="col-lg-4">
                    <a asp-action="DetailsItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" class="btn btn-outline-primary"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Просмотреть">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="EditItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" class="btn btn-outline-info"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Редактировать">
                        <i class="bi bi-pencil-square" ></i>
                    </a>
                    <!-- Button trigger modal -->
                    <span data-bs-toggle="modal" data-bs-target="#containerItemModal">
                            <button type="button" class="btn btn-outline-danger"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Удалить">
                                <i class="bi bi-trash"></i>
                            </button>
                    </span>
                    <!-- Modal -->
                    <div class="modal fade" id="containerItemModal" tabindex="-1" aria-labelledby="containerItemModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5 text-black" id="containerItemModalLabel">Удаление ячейки</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                                </div>
                                <div class="modal-body text-black">
                                    Вы действительно хотите сделать это?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="DeleteItem" asp-route-id="@item.Id" asp-route-containerId="@ViewBag.ContainerId" method="post">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link bg-transparent text-white" asp-action="ItemsList" asp-route-id="@ViewBag.ContainerId" asp-route-pageNumber="@i" asp-route-searchItem="@ViewBag.SearchItem">@i</a></li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

    }
}